<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main.css">
    <title>Joke Generator</title>
</head>
<body>
    <h1> <%= joke %> </h1>
    <button id="button">Click Me!😂</button>

    
    <script>
        const button = document.getElementById("button");
        button.addEventListener("click", function() {
            console.log("Button clicked");
            location.reload()
        });
    </script>

    </body>
</html>